<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="public/png" href="/favicon-vinimini.png" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="./style.css">
    <title>Voedingssupplement </title>
</head>

<header>
    <div class="aankoop_banner">
        <p class="verzending_banner">📨GRATIS VERZENDING BIJ AANKOOP STARTKIT + OPVOLGKIT 📨</p>
    </div>
    <nav>
        <img class="viniminilogo" src="/logo.png" alt="viniminilogo">
        <ul>
            <li>Voor Mini</li>
            <li>Vini Mini Producten</li>
            <li>Over ons</li>
            <li>Nieuws</li>
            <li>Contact</li>
            <li>Zoeken</li>
        </ul>

        <div class="icon">
            <img src="/shopping-cart.svg" alt="iconshoppingcar">
            <img src="/user.svg" alt="iconuser">
        </div>



    </nav>
</header>

<body>