<%- include('./partials/head') %>

     <main>
        <h1>Welkom terug Pepijn!</h1>
        <div class="kader">

            <div class="vierkant">


            </div>
            <p class="notities">Notities</p>

            <img class="iconcross" src="/cross.svg" alt="iconcross">

        </div> 

       <div>


         <form action="/" method="post">
                <fieldset>

                    <Span class="kruis">x</Span> 
                    <!-- notitietest -->


                    <!-- TITEL -->
                 <label class="title" for="titel">Titel<span>(verplicht)</span></label>
                    <input name="titel" id="titel" type="text" required> 

                    <!-- BESCHRIJVING -->
                   <label for="beschrijving">Notitie</label>
                    <textarea id="beschrijving" name="beschrijving" placeholder="Vul hier jouw notitie in"
                        required></textarea> 

                 <label class="herinnering" for="herinnering">Herinnering<span>(verplicht)</span></label>
                    <input name="herinnering" id="herinnering" type="datetime-local" required>

                    <label for="datum">Datum<span>(verplicht)</span></label>
                    <input name="datum" id="datum" type="datetime-local" required>

                    <button class="opslaan-form" type="submit">Opslaan</button>
                </fieldset>
            </form> 

    </div> 
 
        <div>
            <img class="productenimg" src="/producten.webp" alt="">
            <div class="colorbackground"></div>

        </div>


    </main> 


    <%- include('./partials/foot') %>