<%- include('./partials/head') %>

    <main>

        <div class="kader">

            <div class="vierkant">


            </div>
            <p class="notities">Notities</p>

            <img class="iconcross" src="/cross.svg" alt="iconcross">

        </div>

        <div>
            <img class="productenimg" src="/producten.webp" alt="">
            <div class="colorbackground"></div>

        </div>


    </main>


<%- include('./partials/foot') %>